


.link{
    color: white;
    text-decoration: none;
    font-weight: 700;
}
.sign:hover{
    border: 2px solid #ab6d1b;
    background-color: white;
    color: #ab6d1b;
}

@media (max-width: 768px) {    
   .link{
    display: none;
    color: red;
    /* flex-direction: column; */
   }
}
