.container{
    color:white;
    background-image: url('../../Images/bg_4.jpg');
  background-size: cover; /* Adjust as needed, e.g., 'contain', '100% 100%', etc. */
  background-repeat: repeat; 
  padding: 40px;
    margin-bottom: -20px;
}
.slick-dots li.slick-active button {
    background-color: rgb(39, 39, 41);
    color: white;
  }
  
  /* Inactive dot color */
  .slick-dots li button {
    width:5px;
    height: 5px;
    border-radius: 40px;
    background-color: white /* Use RGBA for a semi-transparent color */
  }