.btn{
    width:60px;
     height:30px;
      border-radius:10px;
      color:white;
      background-color:inherit;
      border:2px solid white;
      cursor: pointer;
      font-weight: 550;
      font-size: 9px;
}
.btn:hover{
    background-color: rgb(245, 193, 96);
}

@media (min-width: 768px){
    .btn{
        width:90px;
        height:40px;
        font-size: 14px;
    }
}