.container{
  color:white;
  background-image: url('../../Images/bg_4.jpg');
  background-size: cover; /* Adjust as needed, e.g., 'contain', '100% 100%', etc. */
  background-repeat: repeat; 
  padding: 40px;
    margin-bottom: -20px;
}

.slick-dots li.slick-active button {
  background-color: rgb(39, 39, 41);
  color: white;
}
  
  /* Inactive dot color */
  .slick-dots li button {
    width:5px;
    height: 5px;
    border-radius: 40px;
    background-color: white /* Use RGBA for a semi-transparent color */
  }
  
  /*
  
  .custom-slider {
    margin: auto;
    
    margin-top: 10px;
  }

  @media (min-width:1080px){
    .custom-slider {
      width: 70%;
      }
      .slider-image{
        width: 100%;
        height: 450px;
        }
        }
  @media (max-width:768px){    
    .custom-slider {
      width: 100%;
      }
      .slider-image{
        width: 100%;
     
      }
  }
   */