.container{
    color:white;
    background-image: url('../../Images/bg_4.jpg');
    background-size: cover; /* Adjust as needed, e.g., 'contain', '100% 100%', etc. */
    background-repeat: repeat; 
  }
  .menuCard_Container{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
.image-div{
  width: 520px;
  height: 730px;
  box-shadow: red 0px 20px 30px -10px;
}
.image-box{
  background-color: black;
  width: 515px;
  height: 725px;
  margin: auto;
}
.menu-image{
  width: 510px;
  height: 720px;
  margin: auto;
}


@media (min-width:1080px){

  .menuCard_Container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width:768px){
  .image-div{
    width: 390px;
    height: 530px;
    box-shadow: red 0px 20px 30px -10px;
  }
  .image-box{
    background-color: black;
    width: 395px;
    height: 525px;
    margin: auto;
  }
  .menu-image{
    width: 370px;
    height: 520px;
  }
}


/* 
className="image-box"
            style={{
              backgroundColor: "black",
              width: "515px",
              height: "725px",
              margin: "auto",
            }}

style={{ width: "510px", height: "720px", margin: "auto" }} */
