
@media only screen  and (max-width: 660px) {
    .menu_container{
            grid-template-columns: repeat(2,1fr);
    }

}
.container{
    color:white;
    background-image: url('http://www.thestreetbites.com/images/bg_4.jpg');
  background-size: cover; /* Adjust as needed, e.g., 'contain', '100% 100%', etc. */
  background-repeat: repeat; 
  width: 100%;
}

