/* 
@media only screen  and (max-width: 660px) {
    .menu_container{
            grid-template-columns: repeat(2,1fr);
    }

} */
.container{
  color:white;
  background-image: url('../../Images/bg_4.jpg');
  background-size: cover; 
  background-repeat: repeat; 
  width: 100%;
}

@media (max-width: 968px){
  #menu_container{
      display: grid;
      grid-template-columns: repeat(2,1fr);
  }
}
@media (max-width: 468px){
  #menu_container{
      display: grid;
      grid-template-columns: repeat(1,1fr);
  }
}

@media (min-width: 969px) and (max-width: 1235px){
  #menu_container{
      display: grid;
      grid-template-columns: repeat(3,1fr);
  }
}

@media (min-width: 1236px){
  #menu_container{
      display: grid;
      grid-template-columns: repeat(4,1fr);
  }
}

