

.slide-box1{
  width: 45%;
  height: 350px;
}
.slide-box2{
  width: 40%;
  height: 350px;
}


.sliding_div div{
    height: 100%;
}
    /* font-family: Josefin Sans, Arial,sans-s;  '../Images/sliding.png' */
#crunchy{
    font-family: "Nothing You Could Do", cursive;
}
.container{
    color:white;
    background-image: url('../../Images/bg_4.jpg');
  background-size: cover;
  background-repeat: repeat; 
  width: 100%;
}

@media (max-width: 768px){
    .sliding_div{
      margin-left: -10px;
      margin-right: 100px;
      font-size: 10px;
      height: 450px,
    }
    .slide-box1{
      width: 65%;
    }
    .slide-box2{
      width: 65%;
    }
   
}
@media (max-width: 500px){
  .sliding_div{
    margin-left: -35px;
  }
}
@media (min-width: 769px) and (max-width: 1100px){
  .sliding_div{
    margin-bottom: 50px;
  }
}